type: Define el tipo de la variable.
Los booleanos se escriben mayusculas (verdadero = True)

Lista pueden llevar diferentes tipos de variables.

str convierte numero en cadenas para poder concadenar, ejemplo: print("Tengo " + str(edad) + " años"

In [ ]:
nombre = "Alejandro"
edad = 20


if (nombre == "Alejandro"):
  print("Hola, " + nombre)
else:
  print("¿Quien eres?")

Hola, Alejandro

In [ ]:
a = 10
b = 2

varAux = a

a = b

b = varAux

print(str(a) + " " + " " + str(b))

2  10

In [ ]:
a = 1
b = 10


for i in range(a, b):
  print(i)

1
2
3
4
5
6
7
8
9